*{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
.nav-icon{
    background-color: #f6f7fb;
    padding: 10px 0;
   

}
.nav-icon-back p{
    color: #4c687e;
}
.nav-icon-icons .icon{
color: #4c687e;
}
.nav-icon-back .icon{
  color: #4c687e;
}
.nav-icon-back{
    padding: 0 13%;
}
.nav-icon-email{
    float: left;
}
.nav-icon-email p{
    float: right;
    margin: 0 5px;
}
.nav-icon-phone{
    float: left;
}
.nav-icon-phone p{
    float: right;
    margin: 0 5px;
}
.nav-icon-icons{
    float: right;
}
.nav-icon-icons i{
    margin-left:  10px;   
}
.nav{
    padding: 0 13%;
    margin: 20px 0;
}
.nav .logo {
    color: #4c687e;
    float: left;
    font-size: xx-large;
}
.nav .links  {
    float: left;
    margin: 10px 0
}
.nav .links li {
    float: left;
    margin-left: 50px;
   
    list-style: none;
}
.nav .links li a{
    color: #4c687e;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
}
.back-image{
   width: 100%; 
   height: 100%
}
.back-image img{
    width: 100%;
    height: 100%
    

}
.back-color{
    background-color: #4c687e;;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.6;

}
.text-botton{
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    width: 850px;
    max-width: 100%;
    text-align: center;
     transform: translate(-50%, -50%);
    font-size: 30px;
     color: white;
}
.text-botton .text h1{
    text-transform: uppercase; 
    margin-bottom: 10px;
}
.text-botton .text p{
    text-transform: capitalize; 
    font-size: 20px;
    margin-bottom: 20px;
}
.banner .button-banner{
    background-color: #02bb9c;
    padding: 10px 30px;
    border: none;
    text-align: center;
}
.banner .button-banner a{
    text-decoration: none;
    color: white;
}
.head-text {
    text-align: center;
    margin-top: 50px;
   
}
.beautiful-clean .head-text h3{
    text-transform: capitalize;
    margin: 20px 0;
    font-size: 30px;
    
}
.beautiful-clean{
    margin: 55px 13%;
}
.containt{
    float: left;
    width: 25%;
    margin-top: 20px;
    margin-left: 70px;

}
.containt .icon{
float: left;
margin-left:-45px ;
font-size: 30px;
color: #02bb9c;
}
.containt h4{
float: left;
margin-bottom: 10px;
text-transform: capitalize;
}
.containt p{
    float: left;
}
.check-out-back-color{
    background-color: #f3f4f8;
   
}
.check-out{
    margin: 0 13%;
    padding: 55px 0;
}
.check-out .check-out-text{
    text-align: center;
    
}
.check-out .check-out-text h3{
  color: #4c687e;
    font-weight: bold;
    font-size: 20px;
}
.check-out .check-out-text p{
margin: 20px 0;
color: #4c687e;
}
.image-text{
    float: left;
    width: 49%;
    background-color: white;

}
.image-text img{
    width: 100%;
    height: 275.14px;
}
.image-text:nth-child(2){
    margin-left: 19px;
    

}
.image-text h4{
    text-align: center;
    margin: 10px 0 ;
}
.image-text p{
    text-align: center;
    margin-bottom: 10px;
}
.whant-to-work{
    margin: 0 13%;
    padding: 55px 0;
}
.whant-to-work-text{
    text-align: center;
}
.whant-to-work h3{
    margin: 20px 0;
    color: #4c687e;
    font-size: 30px;
}
.whant-to-work p{
    margin: 20px 0;
    color: #4c687e;
}

.whant-to-work-text .whant-to-work-text-button{
    background-color: #02bb9c;
    padding: 10px 30px;
    border: none;
    text-align: center;
}
.whant-to-work-text .whant-to-work-text-button a{
    text-decoration: none;
    color: white;
}
.footer-container{
    background-color: #4c687e;
}
.footer-container .footer .text{
    float: left;
    width: 20%;
    margin-left: 40px;
}
.footer-container .footer{
    float: left;
    margin: 0 13%;
    padding: 55px 0;
}
.footer h4{
text-transform: uppercase;
color: white;
padding-bottom:10px ;
}
.footer h2{
    color: white;
    font-weight: bold;
    }
.footer p{
 color: white;
 }
 .footer-container .footer .images .footer-img{
     width: 100%;
 }
 .footer-container .footer .images .footer-img  img{
    width: 45%;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}
.footer-container .footer .text .icon{
    color: white;
    float: left;
    width: 20%;
}
.footer-container .footer .text .footer-icon-email p{
    float: left;
    width: 80%;
}
.footer-container .footer .text .footer-icon-phone p{
    float: left;
    width: 80%;
}
.footer-container .footer .text p{
    padding-bottom:10px ;
}

 
 
    




